sudo: false
language: python

python:
  - "2.7_with_system_site_packages"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow

env:
  - VERSION="8.0" ODOO_REPO="OCA/OCB" LINT_CHECK="0"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - pip install unidecode
  - pip install python-ldap
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  coveralls
