num2words==0.5.4
pycep-correios==5.0.0
workalendar==7.1.1
erpbrasil.base==2.0.0
erpbrasil.assinatura==1.0.2
erpbrasil.transmissao==1.0.0
erpbrasil.edoc==1.1.0
erpbrasil.edoc.pdf==0.1.1
nfselib.ginfes==0.2.0
nfselib.issnet==0.2.0
xmldiff==2.4
lxml==4.6.2
-e git://github.com/akretion/nfelib.git@master_gen_v4_00#egg=nfelib
-e git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
