interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer 06aef429-a981-3ec5-a1f8-71d38d86481e
      method: GET
      uri: https://www.receitaws.com.br/v1/cnpj/92666056000106
    response:
      body:
        string:
          '{"abertura": "26/07/1971", "situacao": "ATIVA", "tipo": "MATRIZ", "nome":
          "ISLA SEMENTES LTDA.", "porte": "DEMAIS", "natureza_juridica": "206-2 -
          Sociedade Empresária Limitada", "atividade_principal": [{"code": "46.89-3-99",
          "text": "Comércio atacadista especializado em outros produtos intermediários
          não especificados anteriormente"}], "atividades_secundarias": [{"code":
          "01.11-3-99", "text": "Cultivo de outros cereais não especificados
          anteriormente"}, {"code": "01.21-1-01", "text": "Horticultura, exceto
          morango"}, {"code": "01.22-9-00", "text": "Cultivo de flores e plantas
          ornamentais"}, {"code": "01.41-5-01", "text": "Produção de sementes
          certificadas, exceto de forrageiras para pasto"}, {"code": "46.32-0-01",
          "text": "Comércio atacadista de cereais e leguminosas beneficiados"}, {"code":
          "47.61-0-01", "text": "Comércio varejista de livros"}, {"code": "64.62-0-00",
          "text": "Holdings de instituições não-financeiras"}, {"code": "71.20-1-00",
          "text": "Testes e análises técnicas"}, {"code": "74.90-1-03", "text":
          "Serviços de agronomia e de consultoria às atividades agrícolas e pecuárias"},
          {"code": "85.99-6-99", "text": "Outras atividades de ensino não especificadas
          anteriormente"}], "qsa": [{"nome": "EDUARDO LEIVAS PURICELLI", "qual":
          "05-Administrador"}, {"nome": "ADMINISTRACAO E PARTICIPACOES SPALDING LTDA",
          "qual": "22-Sócio", "nome_rep_legal": "DIANA TEIXEIRA WERNER",
          "qual_rep_legal": "05-Administrador"}, {"nome": "JOSE ANDREI SILVA DOS
          SANTOS", "qual": "49-Sócio-Administrador"}, {"nome": "DIANA TEIXEIRA WERNER",
          "qual": "49-Sócio-Administrador"}], "logradouro": "AVENIDA SEVERO DULLIUS",
          "numero": "124", "municipio": "PORTO ALEGRE", "bairro": "ANCHIETA", "uf":
          "RS", "cep": "90.200-310", "email": "contabilidade@isla.com.br", "telefone":
          "(51) 9852-9561 / (51) 2136-6600", "data_situacao": "04/10/2003", "cnpj":
          "92.666.056/0001-06", "ultima_atualizacao": "2024-01-13T23:59:59.000Z",
          "status": "OK", "fantasia": "", "complemento": "", "efr": "",
          "motivo_situacao": "", "situacao_especial": "", "data_situacao_especial": "",
          "capital_social": "10606804.00", "extra": {}, "billing": {"free": true,
          "database": true}}'
      headers:
        activityid:
          - 0c70c470-9419-4869-aa01-b964c345f5ac
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"86a-p2CeQnt0OF5zs4vPG4Lpgnsxv8k"
      status:
        code: 200
        message: OK
version: 1
