interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer 06aef429-a981-3ec5-a1f8-71d38d86481e
      method: GET
      uri: https://www.receitaws.com.br/v1/cnpj/00000000000000
    response:
      body:
        string:
          '{"cnpj": "00.000.000/0000-00", "ultima_atualizacao":
          "2024-01-25T23:02:46.856Z", "status": "ERROR", "message": "CNPJ rejeitado pela
          Receita Federal", "billing": {"free": true, "database": true}}'
      headers:
        activityid:
          - 0c70c470-9419-4869-aa01-b964c345f5ac
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"86a-p2CeQnt0OF5zs4vPG4Lpgnsxv8k"
      status:
        code: 200
        message: OK
version: 1
