/* GLOBAL */

:root {
    --fontSizeTitle: 20px;
    --fontSizeBody: 16px;
}

.pos-receipt-container {
    flex: 0 1 500px !important ;
}

.pos-receipt {
    width: 400px !important;
}

.nfceSeparator {
    border-style: dotted;
}

.nfcePTag {
    font-size: var(--fontSizeBody) !important;
    margin: 8px auto;
}

/* HEADER */

.headerNfce {
    font-size: var(--fontSizeTitle);
    text-align: center;
    margin: 0 auto;
}

.companyLegalName {
    text-transform: uppercase;
    font-size: var(--fontSizeBody) !important;
}

.companyAddress {
    font-size: var(--fontSizeBody) !important;
    max-width: 20.5em;
    text-align: center;
    margin: 0 auto;
}

.companyInfo {
    display: flex;
    justify-content: space-between;
    max-width: 20em;
    margin: 0 auto;
}

.companyInfoLine {
    margin: 0.5em 0;
    padding: 0;
    height: 1em;
    font-size: var(--fontSizeBody) !important;
}

.documentInfo {
    text-transform: uppercase;
    font-size: 10px !important;
    margin: 0 auto;
}

/* ITEMS TABLE */

/* TOTALS */

.nfceTotalItems,
.nfceTotalDiscount,
.nfceTotalAmount,
.nfcePaymentLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nfceTotalPayement {
    margin: 0;
}

.nfceTotal {
    text-transform: uppercase;
    font-weight: bold;
}

/* PAYMENTS */

/* FISCAL INFO */

.nfceFiscalInfo {
    text-align: center;
}

.nfceDocumentKey {
    font-size: 14px !important;
}

/* FOOTER */

.nfceFooter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.consumerNotIdentified {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px !important;
    margin: 2px auto;
}

.inContingency {
    text-transform: uppercase;
    font-size: 17px !important;
}
