interactions:
  - request:
      body: null
      headers:
        Authorization: [Bearer 06aef429-a981-3ec5-a1f8-71d38d86481e]
      method: GET
      uri: https://gateway.apiserpro.serpro.gov.br/consulta-cnpj-df-trial/v2/qsa/34238864000168
    response:
      body:
        {
          string:
            "{\"ni\":\"34238864000168\",\"tipoEstabelecimento\":\"1\",\"nomeEmpresarial\"\
            :\"UHIEQKX WHNHIWD NH  FIXKHUUWPHMVX NH NWNXU (UHIFIX)\",\"nomeFantasia\"\
            :\"UHIFIX
            UHNH\",\"situacaoCadastral\":{\"codigo\":\"2\",\"data\":\"2019-06-19\"\
            ,\"motivo\":\"\"},\"naturezaJuridica\":{\"codigo\":\"2011\",\"descricao\"\
            :\"Empresa P\xFAblica\"},\"dataAbertura\":\"1967-06-30\",\"cnaePrincipal\"\
            :{\"codigo\":\"6204000\",\"descricao\":\"Consultoria em tecnologia da
            informa\xE7\
            \xE3o\"},\"endereco\":{\"tipoLogradouro\":\"SETOR\",\"logradouro\":\"NH
            BIWMNH\
            \ WIHW MXIVH\",\"numero\":\"Q.601\",\"complemento\":\"LOTE V\",\"cep\":\"\
            70836900\",\"bairro\":\"ASA NORTE\",\"municipio\":{\"codigo\":\"9701\",\"\
            descricao\":\"BRASILIA\"},\"uf\":\"DF\",\"pais\":{\"codigo\":\"105\",\"descricao\"\
            :\"BRASIL\"}},\"municipioJurisdicao\":{\"codigo\":\"0110100\",\"descricao\"\
            :\"BRAS\xCDLIA\"},\"telefones\":[{\"ddd\":\"61\",\"numero\":\"22222222\"},{\"\
            ddd\":\"61\",\"numero\":\"22222222\"}],\"correioEletronico\":\"EMPRESA@XXXXXX.BR\"\
            ,\"capitalSocial\":0,\"porte\":\"05\",\"situacaoEspecial\":\"\",\"dataSituacaoEspecial\"\
            :\"\",\"informacoesAdicionais\":{},\"socios\":[{\"tipoSocio\":\"2\",\"nome\"\
            :\"LUIZA ARAUJO DE OLIVEIRA\",\"qualificacao\":\"49\",\"pais\":{\"codigo\"\
            :\"105\",\"descricao\":\"BRASIL\"},\"representanteLegal\":{\"nome\":\"\",\"\
            qualificacao\":\"00\"}},{\"tipoSocio\":\"2\",\"nome\":\"JOANA ALVES MUNDIM\
            \ PENA\",\"qualificacao\":\"49\",\"pais\":{\"codigo\":\"105\",\"descricao\"\
            :\"BRASIL\"},\"representanteLegal\":{\"nome\":\"\",\"qualificacao\":\"00\"\
            }},{\"tipoSocio\":\"2\",\"nome\":\"LUIZA BARBOSA BEZERRA\",\"qualificacao\"\
            :\"49\",\"pais\":{\"codigo\":\"105\",\"descricao\":\"BRASIL\"},\"representanteLegal\"\
            :{\"nome\":\"\",\"qualificacao\":\"00\"}},{\"tipoSocio\":\"2\",\"nome\":\"\
            MARCELO ANTONIO BARROS DE
            CICCO\",\"qualificacao\":\"49\",\"pais\":{\"codigo\"\
            :\"105\",\"descricao\":\"BRASIL\"},\"representanteLegal\":{\"nome\":\"\",\"\
            qualificacao\":\"00\"}},{\"tipoSocio\":\"2\",\"nome\":\"LUIZA ALDENORA\",\"\
            qualificacao\":\"49\",\"pais\":{\"codigo\":\"105\",\"descricao\":\"BRASIL\"\
            },\"representanteLegal\":{\"nome\":\"\",\"qualificacao\":\"00\"}}]}",
        }
      headers:
        activityid: [576c7a08-baff-417d-9f91-b89df8541f39]
        content-type: [application/json; charset=utf-8]
        etag: [W/"715-ilaBip1HJAjlsSrk9iRnGBs7krs"]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
      method: GET
      uri: https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl
    response:
      body: {string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions
            xmlns:xsd=\"\
            http://www.w3.org/2001/XMLSchema\"
            xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
            \ xmlns:tns=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\"
            xmlns:soap=\"\
            http://schemas.xmlsoap.org/wsdl/soap/\"
            xmlns:ns1=\"http://schemas.xmlsoap.org/soap/http\"\
            \ name=\"AtendeClienteService\"
            targetNamespace=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\"\
            >\n  <wsdl:types>\n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\
            \ xmlns:tns=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\"
            attributeFormDefault=\"\
            unqualified\" elementFormDefault=\"unqualified\"
            targetNamespace=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\"\
            >\n  <xs:element name=\"VerificaSeTodosObjetosCancelados\"
            type=\"tns:VerificaSeTodosObjetosCancelados\"\
            />\n  <xs:element name=\"VerificaSeTodosObjetosCanceladosResponse\" type=\"\
            tns:VerificaSeTodosObjetosCanceladosResponse\"/>\n  <xs:element
            name=\"atualizaPagamentoNaEntrega\"\
            \ type=\"tns:atualizaPagamentoNaEntrega\"/>\n  <xs:element
            name=\"atualizaPagamentoNaEntregaResponse\"\
            \ type=\"tns:atualizaPagamentoNaEntregaResponse\"/>\n  <xs:element name=\"\
            atualizaRemessaAgrupada\"
            type=\"tns:atualizaRemessaAgrupada\"/>\n  <xs:element\
            \ name=\"atualizaRemessaAgrupadaResponse\"
            typ[...]
  - request:
      body: '<?xml version=''1.0'' encoding=''utf-8''?>

        <soap-env:Envelope
        xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:consultaCEP
        xmlns:ns0="http://cliente.bean.master.sigep.bsb.correios.com.br/"><cep>70836900</cep></ns0:consultaCEP></soap-env:Body></soap-env:Envelope>'
      headers:
        Content-Type: [text/xml; charset=utf-8]
        SOAPAction: ['""']
      method: POST
      uri: https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente
    response:
      body: {string: "<soap:Envelope
            xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\
            ><soap:Body><ns2:consultaCEPResponse
            xmlns:ns2=\"http://cliente.bean.master.sigep.bsb.correios.com.br/\"\
            ><return><bairro>Asa
            Norte</bairro><cep>70836900</cep><cidade>Bras\xEDlia</cidade><complemento2>M\xF3\
            dulo E,G e V</complemento2><end>SGAN
            601</end><uf>DF</uf></return></ns2:consultaCEPResponse></soap:Body></soap:Envelope>"}
      headers:
        Content-Type: [text/xml;charset=UTF-8]
      status: {code: 200, message: OK}
version: 1
