.damdfe {
    font-size: 14px;
    max-width: 210mm;
    margin-top: 2mm;
}

.damdfe-company-name {
    font-weight: bold;
    font-size: 14px;
}

.damdfe-company-data {
    font-size: 10px;
}

.damdfe-document-info {
    margin-top: 30px;
    margin-left: 20px;
}

.damdfe-key {
    font-size: 10px;
}

.document-info-cards {
    margin-top: 20px;
    margin-left: 5px !important;
}

.document-info-card {
    background-color: #c0e0f7;
    margin-left: 5px;
    height: 50px;
    font-size: 10px;
}

.document-uf-card {
    max-width: 100px !important;
}

.damdfe-info-field {
    font-weight: bold;
    font-size: 12px;
}

.damdfe-fisco {
    margin-top: 20px;
    margin-left: 5px;
}

.fisco-card {
    background-color: #ebecee;
    margin-left: 5px;
    margin-top: 10px;
    height: 50px;
    font-size: 12px;
}

.damdfe-fisco-field {
    font-weight: bold;
}

.document-info-card-header {
    margin-top: 7px;
}

.document-fisco-card-header {
    margin-top: 5px;
}

.damdfe-barcode {
    height: 50px;
    margin-top: 15px;
}

.damdfe-protocolo {
    margin-top: 30px;
    font-size: 12px;
}

.damdfe-key-info {
    font-size: 12px;
    margin-top: 30px;
}

.damdfe-contingency-protocol {
    background-color: black;
    color: white;
    font-size: 14px;
}

.damdfe-title {
    font-size: 16px;
    font-weight: bold;
}

.damdfe-modal {
    margin-top: 30px;
}

.damdfe-modal-title {
    font-size: 16px;
    font-weight: bold;
}

.damdfe-modal-field {
    font-size: 14px;
    font-weight: bold;
}

.damdfe-modal-header {
    font-size: 12px;
}

.damdfe-separator {
    margin-top: 1px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    border-top: 2px solid #ebecee;
}

.damdfe-line-separator {
    margin-top: 1px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    border-top: 2px dashed #ebecee;
}

.damdfe-notes,
.damdfe-load-info {
    margin-top: 30px;
}

.damdfe-notes-textarea {
    border: 1px solid gray;
    height: 100px;
    overflow: auto;
    padding: 5px;
}

.damdfe-table {
    max-width: 210mm;
}

.damdfe-table-header,
.damdfe-table-item {
    font-size: 10px;
}
