interactions:
  - request:
      body:
        '{"reference_id": "11", "description": "test_ref_1000", "amount": {"value":
        10000, "currency": "BRL"}, "payment_method": {"soft_descriptor": "Sua Empresa",
        "type": "CREDIT_CARD", "installments": 1, "capture": false, "card":
        {"encrypted": "wrongcardtoken"}}}'
      headers:
        Authorization: [70490B37BABA1C2EE4F4FFB244ED8425]
        Content-Type: [application/json]
        x-api-version: ["4.0"]
      method: POST
      uri: https://sandbox.api.pagseguro.com/charges
    response:
      body: {string: '{"message":"Unauthorized"}'}
      headers:
        Content-Type: [application/json]
        x-amz-apigw-id: [akjN6FnOIAMF6ZA=]
        x-amzn-ErrorType: [UnauthorizedException]
        x-amzn-RequestId: [d3d02289-2d02-4dc1-a500-1ae89efa6076]
      status: {code: 401, message: Unauthorized}
version: 1
