img.desaturate {
    width: 50%;
    height: 100%;
    margin: 0 25%;
}
.pos-sale-ticket_extra {
    width: 280px;
}
.customer_title {
    text-decoration: underline;
}

.screen .screen-content {
    margin: 0px auto;
    max-width: 90%;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.row {
    margin: 3%;
}

.col-md-6 {
    float: left;
    width: 50%;
}

.clear {
    clear: both;
}

.btn-busca-cpf-cnpj {
    margin-top: 5%;
}

.busca-cpf-cnpj-popup {
    font-size: 20px;
    font-family: Lato;
    display: block;
    width: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    padding: 6px 8px;
    background: white;
    color: #484848;
    text-align: right;
    border-radius: 3px;
    margin-left: 10%;
    box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
}

.order_paga {
    color: green;
}

.order_cancelada {
    color: red;
}

.buscar-produto-backend {
    display: inline-block;
    text-align: left;
    float: right;
    margin: 6px;
}
